/* UpAllNightGames Theme */

$primary: rgb(120, 230, 50);
$primary2: rgb(90, 172, 37);
$background-primary: #121212;
$text-primary: white;
$text-secondary: #121212;

.btn {
  background-color: $primary;
  color: $text-secondary;
  font-weight: bold;
  padding: 20px;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(255, 255, 255, .6);
}

.btn:hover, .btn:focus {
  background-color: $primary2;
}
